.public-header{
	height: 52px;
	

}
.public-container{
	position: relative;
	width:892px;
	margin: 0 auto;
	background:blue;

}

.public-container .header-logo{
	float: left
	background:url("../images/header-logo.psd");
	width:110px;
	height: 62px;
	
}
